commands:
  01_create_htaccess:
    command: /tmp/create-htaccess.sh

files:
  "/tmp/create-htaccess.sh":
      mode: "000755"
      content: |
        #!/bin/bash
        echo "Setting up htaccess file ..."
        mkdir /etc/mantis
        HTACCESS_USER=$(/opt/elasticbeanstalk/bin/get-config environment -k HTACCESS_USER)
        HTACCESS_PASS=$(/opt/elasticbeanstalk/bin/get-config environment -k HTACCESS_PASS)
        htpasswd -b -c /etc/mantis/htaccess.dat "${HTACCESS_USER}" "${HTACCESS_PASS}"
